<%= simple_form_for([@owner, @business]) do |f| %>
<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name, label: "Business name", required: true %>
		<%= f.input :description %>
		<%= f.association :categories, as: :radio_buttons, label: "Business category", collection: Category.all(order: 'name') %>
	</div>

	<div class="form-actions">
  	<%= f.submit "Submit my business information", class: 'btn btn-md btn-primary' %>
  </div>
<% end %>