<%= provide(:title, "#{@business.name} Profile Page") %>
<div class="row">
	<div class="col-md-2">
  	<div class="panel panel-success">
    	<div class="panel-heading">
      	<b>Business Information</b><%= link_to "Edit", edit_owner_business_path(@owner, @business), class: 'pull-right' %>
      </div>
      <div class="panel-body">
        <b>Business: </b>
        <%= link_to @business.name, edit_owner_business_path(@owner, @business) %>
      <p><br>
        <%= link_to "Delete", [@owner, @business], data: { :confirm => "Are you sure?" }, method: :delete, class: 'pull-right' %>
     </div>
     </div>
    <%= link_to "Back to owner page", @owner %>

    </div>
  </div>